a {
  text-decoration: none;
  color: white;

}

a:hover {
  color: #808d99;
}

body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin: auto;
  height: 100%;
  width: 100%;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.attribution {
  display:inline;
  position: relative;

}

.bottom-container {
  background-color: #00252e;
  color: white;
  margin-bottom: 0;
}

.btn {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff52c0), color-stop(1, #fc3ab5));
  background: -moz-linear-gradient(top, #ff52c0 5%, #fc3ab5 100%);
  background: -webkit-linear-gradient(top, #ff52c0 5%, #fc3ab5 100%);
  background: -o-linear-gradient(top, #ff52c0 5%, #fc3ab5 100%);
  background: -ms-linear-gradient(top, #ff52c0 5%, #fc3ab5 100%);
  background: linear-gradient(to bottom, #ff52c0 5%, #fc3ab5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff52c0', endColorstr='#fc3ab5', GradientType=0);
  background-color: #ff52c0;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 20px;
  padding: 25px 75px;
  text-decoration: none;
  margin: 0.5rem;
}

.btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fc3ab5), color-stop(1, #ff52c0));
  background: -moz-linear-gradient(top, #fc3ab5 5%, #ff52c0 100%);
  background: -webkit-linear-gradient(top, #fc3ab5 5%, #ff52c0 100%);
  background: -o-linear-gradient(top, #fc3ab5 5%, #ff52c0 100%);
  background: -ms-linear-gradient(top, #fc3ab5 5%, #ff52c0 100%);
  background: linear-gradient(to bottom, #fc3ab5 5%, #ff52c0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc3ab5', endColorstr='#ff52c0', GradientType=0);
  background-color: #fc3ab5;
}

.btn:active {
  position: relative;
  top: 1px;
}

.email-field {
  height: 69px;
  font-size: 20px;
  width: 60%;
  color: #808d99;
  border-style: solid;
  border-radius: 10px;
  margin: 0 .5rem 2rem;
}

.internal-links {
  position: relative;
  display: inline-block;
  bottom: 2rem;


}

.links {
  padding: 0 2rem;
  display: inline-block;
  width: 40%
}

.main-description {
  width: 50%;
  margin: 0 auto 3rem;
  color: #808d99;
}

.middle-container {
  width: 80%;
  margin: auto;
  text-align: center;
}

.mockup {
  max-width: 90%;
}

.social-links {
  position: relative;
  text-align: left;
  display: inline-block;
  margin-bottom: 2rem;
  top: 1.5rem;
}

.social-picture {
  padding: 2rem 0.5rem;
  width: 2rem;
  height: 2rem;
}

.spacer {
  margin: 14rem auto;
  margin-bottom: 0;
}

.top-container {
  width: 90%;
  margin: 2rem auto;
  text-align: left;
  height: 15rem;
}
