body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Poppins', sans-serif;
}

.btn {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff52c0), color-stop(1, #fc3ab5));
	background:-moz-linear-gradient(top, #ff52c0 5%, #fc3ab5 100%);
	background:-webkit-linear-gradient(top, #ff52c0 5%, #fc3ab5 100%);
	background:-o-linear-gradient(top, #ff52c0 5%, #fc3ab5 100%);
	background:-ms-linear-gradient(top, #ff52c0 5%, #fc3ab5 100%);
	background:linear-gradient(to bottom, #ff52c0 5%, #fc3ab5 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff52c0', endColorstr='#fc3ab5',GradientType=0);
	background-color:#ff52c0;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	padding:25px 75px;
	text-decoration:none;
}
.btn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fc3ab5), color-stop(1, #ff52c0));
	background:-moz-linear-gradient(top, #fc3ab5 5%, #ff52c0 100%);
	background:-webkit-linear-gradient(top, #fc3ab5 5%, #ff52c0 100%);
	background:-o-linear-gradient(top, #fc3ab5 5%, #ff52c0 100%);
	background:-ms-linear-gradient(top, #fc3ab5 5%, #ff52c0 100%);
	background:linear-gradient(to bottom, #fc3ab5 5%, #ff52c0 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc3ab5', endColorstr='#ff52c0',GradientType=0);
	background-color:#fc3ab5;
}
.btn:active {
	position:relative;
	top:1px;
}
